PORT=3001
SESSION_SECRET=change-me-to-a-random-string

# Cube.js data source
CUBEJS_DB_TYPE=postgres
CUBEJS_DB_HOST=localhost
CUBEJS_DB_PORT=5432
CUBEJS_DB_NAME=mydb
CUBEJS_DB_USER=myuser
CUBEJS_DB_PASS=mypassword
